* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
body {margin: 0;padding: 0;font-family: Arial, Helvetica, Verdana, Tahoma, Sans-Serif, serif;background: #fff;}
a {color: #0ba500;text-decoration: none;}
a:hover {color: #334d5c;text-decoration: underline;}
.color1 {color: #334d5c;}
header, section, footer {max-width: 1024px;margin: auto;padding: 20px;}
section:after {content: "";display: table;clear: both;}
article {width: 70%;float: left;border: 5px solid #eaeaea;padding: 15px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
aside {width: 30%;float: right;}
footer {font-size: 20px;color: #d1126e;}
footer a {color: #d1126e;text-decoration: underline;}
button {border: 2px solid #eaeaea;padding: 5px;text-decoration: none;display: inline-block;box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);border-radius: 6px;cursor: pointer;}
button:active {box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);}
.side ul {list-style: none;}
.side li {margin-bottom: 10px;}
form div {margin-bottom: 15px;}
form div label {display: block;color: #d1126e;}
form div input, form div textarea {width: 100%;font-size: 1.2em;font-family: Arial, Helvetica, Verdana, Tahoma, Sans-Serif, serif;}
div.error {margin: 20px;color: #d1126e;font-size: 25px;}
div.ok {margin: 20px;color: #0ba500;font-size: 25px;}
form table {width: 100%;border-collapse: collapse;}
form table td, form table th {padding: 10px;text-align: left;border-bottom: 3px solid #eaeaea;}
form table tfoot td {border-bottom: none;}
.art ul {list-style: none;}
.art li {display: inline-block;height: 100px;}
.art a {display: inline-block;width: 100px;height: 100px;border: 3px solid #eaeaea;padding: 20px 5px 5px 5px;box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);border-radius: 5px;text-align: center;margin: 10px;}
.art a:hover {text-decoration: none;}
.art a:active {box-shadow: none;}
