* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body {margin: 0;padding: 0;font-family: Arial, Helvetica, Verdana, Tahoma, Sans-Serif, serif;background: #fff;}
a {color: #0ba500;text-decoration: none;}
a:hover {color: #334d5c;text-decoration: underline;}
header, section, footer {max-width: 1024px;margin: auto;padding: 20px;}
section:after {content: "";display: table;clear: both;}
article {width: 70%;float: left;}
article div {border: 5px solid #eaeaea;margin: 15px;padding: 0 15px 15px;}
article p {border: 5px solid #eaeaea;box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);padding: 15px;}
aside {width: 30%;float: right;}
footer {font-size: 20px;color: #d1126e;}
footer a {color: #d1126e;text-decoration: underline;}
aside nav ul {list-style: none;}
aside nav ul li {margin-bottom: 10px;}
div.error {margin: 20px;color: #d1126e;font-size: 25px;}
div.ok {margin: 20px;color: #0ba500;font-size: 25px;}
article div h2 {margin-bottom: 0;}
aside h2 {padding-left: 40px;}
